{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - {{ Info.Header.title }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="sidebar">
        <h2 style="margin-bottom: 20px;">{{ Info.Header.title }}</h2>
        <nav>
            {% for bar in bars %}
            {{ bar|safe }}
            {% endfor %}
            <form action="/logout/" method="post">
                <button class="btn btn-danger" style="width: 100%; margin-top: 20px;">{{ Info.Header.logout }}</button>
            </form>
        </nav>
    </div>
    <div class="main-content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="box">
            <h1>
                {{ DashboardInfo.cur_balance }}: <span class="light-blue">${{ user.money }}</span>
            </h1>
        </div>

        {% if user_regions %}
        <div class="box">
            <h3>Во владении:</h3>
            {% for region in user_regions %}
            <h4 class="light-blue">{{ region }}</h4>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="box">
            <h2>{{ DashboardInfo.top_players_title }}</h2>
            <ul class="top-players">
                {% for player in top_players %}
                <li>
                    {{ player.username }} - <span class="light-blue">${{ player.money }}</span>
                    {% if player.is_billed %}
                    <span class="red">{{ DashboardInfo.player_owes }} {{ player.cur_bill_amount }}</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="box">
            <h2>{{ DashboardInfo.RecentTransactions.title }}</h2>
            <div class="transaction-info">
                <h3>{{ DashboardInfo.RecentTransactions.Received.title }}: <span class="light-blue">${{ user.last_received }}</span> {{ DashboardInfo.RecentTransactions.Received.suffix }} {{ user.last_received_from }}</h3>
                <h3>{{ DashboardInfo.RecentTransactions.Sent.title}}: <span class="light-blue">${{ user.last_sent }}</span> {{ DashboardInfo.RecentTransactions.Sent.suffix }} {{ user.last_sent_to }}</h3>
                <h3>{{ DashboardInfo.RecentTransactions.Paid.title }}: <span class="light-blue">${{ user.last_paid }}</span> {{ DashboardInfo.RecentTransactions.Paid.suffix }} {{ user.last_paid_for }}</h3>
            </div>
        </div>

        {% if user.is_billed %}
        <div class="box">
            <h2>{{ DashboardInfo.Forms.PayBill.title }}</h2>
            <div class="bill-card">
                <form method="POST" action="/paybill/">
                    {% csrf_token %}
                    <h3>{{ user.cur_bill_type }}</h3>
                    <p>{{ user.cur_bill_item }}</p>
                    <p>{{ DashboardInfo.Forms.PayBill.title }}: <span class="light-blue">${{ user.cur_bill_amount }}</span></p>
                    <button class="btn confirm-btn" type="submit">{{ DashboardInfo.Forms.PayBill.submit_button }}</button>
                </form>
            </div>
        </div>
        {% endif %}

        {% if incoming_transfer_requests %}
        <div class="box">
            <h2>{{ DashboardInfo.Forms.TransferRequest.title }}</h2>
            {% for request in incoming_transfer_requests %}
            <div class="bill-card">
                <h2>{{ DashboardInfo.Forms.TransferRequest.region_name }}: <span class="light-blue">{{ request.region_name }}</span></h2>
                <h3>{{ DashboardInfo.Forms.TransferRequest.sender_name }}: <span class="light-blue">{{ request.sender }}</span></h3>
                <h3>{{ DashboardInfo.Forms.TransferRequest.price }}: <span class="light-blue">{{ request.price }}</span></h3>
                <form action="/userconfirmtransferrequest/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ request.id }}">
                    <button type="submit" class="btn confirm-btn">{{ DashboardInfo.Forms.TransferRequest.confirm_button }}</button>
                </form>
                <form action="/usercanceltransferrequest/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ request.id }}">
                    <button type="submit" class="btn cancel-btn">{{ DashboardInfo.Forms.TransferRequest.cancel_button }}</button>
                </form>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="box">
            <h2>{{ DashboardInfo.Forms.SendMoney.title }}</h2>
            <form method="POST" action="/sendmoney/">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.SendMoney.input_amount }}</label>
                    <input type="number" min="10" name="amount" required>
                </div>
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.SendMoney.input_receiver }}</label>
                    <select name="receiver_name" required>
                        {% for player in other_players %}
                        <option value="{{ player.username }}">{{ player.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn">{{ DashboardInfo.Forms.SendMoney.submit_button }}</button>
            </form>
        </div>

        <div class="box">
            <h2>{{ DashboardInfo.Forms.RequestRegionBuy.title }}</h2>
            <form action="/requestregionbuy/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.RequestRegionBuy.input_region_name }}</label>
                    <select name="region_name" required>
                        {% for region in available_regions %}
                        <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn" type="submit">{{ DashboardInfo.Forms.RequestRegionBuy.submit_button }}</button>
            </form>
        </div>

        <div class="box">
            <h2>{{ DashboardInfo.Forms.RequestHotelBuild.title }}</h2>
            <form action="/requesthotelbuild/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.RequestHotelBuild.input_region_name }}</label>
                    <select name="region_name" required>
                        {% for region in user_regions %}
                        <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.RequestHotelBuild.input_hotel_count }}</label>
                    <input type="number" name="hotel_count" value=1 max="{{ max_hotel_count }}" min=1>
                </div>
                <button class="btn" type="submit">{{ DashboardInfo.Forms.RequestHotelBuild.submit_button }}</button>
            </form>
        </div>

        <div class="box">
            <h2>{{ DashboardInfo.Forms.SellRegion.title }}</h2>
            <form action="/sellregion/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.SellRegion.input_region_name }}</label>
                    <select name="region_name" required>
                        {% for region in user_regions %}
                        <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn" type="submit">{{ DashboardInfo.Forms.SellRegion.submit_button }}</button>
            </form>
        </div>

        <div class="box">
            <h2>{{ DashboardInfo.Forms.TransferRegion.title }}</h2>
            <form action="/transferregion/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.TransferRegion.input_region_name }}</label>
                    <select name="region_name" required>
                        {% for region in user_regions %}
                        <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.TransferRegion.input_receiver_name }}</label>
                    <select name="receiver_name" required>
                        {% for player in other_players %}
                        <option value="{{ player.username }}">{{ player.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>{{ DashboardInfo.Forms.SellRegion.input_price }}</label>
                    <input type="number" name="price" min=10>
                </div>
                <button type="submit" class="btn">{{ DashboardInfo.Forms.SellRegion.submit_button }}</button>
            </form>
        </div>
    </div>
</body>
</html>